// Import gridle :
@import 'gridle/gridle';

// setup the grid (required) :
@include gridle_setup((
	context : 12,
	gutter-width : 20px,
	debug : false
));

// clear each classes :
@include gridle_register_clear_each(2, left);
@include gridle_register_clear_each(12, both);

// register states :
// @include gridle_register_default_states();