body {
    // background: #EEE;
}

main {
    @extend .sans-serif;
    min-height: 100vh;
    overflow: hidden;
    color: $color-grey;
    position: relative;
    margin:0 auto;
    max-width:960px;
    border-left: 1px #979797 solid;
    border-right: 1px #979797 solid;
    background: #FFF;
}

section.portfolio {
    header {
        width: 860px;
        margin: 0 auto;
        padding-bottom: 60px;
        border-bottom: 1px #979797 solid;
        font-family: Helvetica, sans-serif;
        font-weight: 100;
        text-align: center;
        line-height: 1;
        .flag-image {
            margin: 20px 0;
        }
        h1 {
            font-size: 58px;
            font-weight: bold;
            margin-bottom: 24px;
        }
        h2 {
            font-size: 32px;
        }
    }

    &.spare {
        header .flag-image img {
            margin-top: 113px;
            margin-bottom: 113px;
        }
    }

    .container {
        padding-top: 60px;
        font-weight: 100;

        .row {
            margin-bottom: 60px;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    .image-center {
        text-align: center;
        line-height: 0;
        img {
            max-width: 100%;
        }
    }

    .text-block {
        font-size: 16px;
        line-height: 22px;

        &.indent-text {
            padding-left:50px;
        }

        h3 {
            font-weight: 500;
            margin-bottom: 12px;
        }

        p {
            margin-bottom: 24px;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    h3.pull-quote {
        font-size: 24px;
        line-height: 33px;
        text-align: center;
    }
}