html {
    -webkit-font-smoothing: antialiased !important;
}

main {
    @extend .avenir;
    min-height: 100vh;
    overflow: hidden;
    color: $color-grey;
    position: relative;
    margin:0 auto;
    max-width:910px;
    padding: 0 25px;
    background: #FFF;
}

section.portfolio {
    header {
        width: 860px;
        padding: 60px 0;
        margin: 0 auto;
        text-align: center;
        line-height: 1;
        &:after {
            content: " ";
            width: 150px;
            height: 1px;
            background: #BCBCBC;
            margin: 0 auto;
            display: block;
            top: 60px;
            position: relative;
        }
        .flag-image {
            margin: 20px 0;
        }
        h1 {
            font-weight: 600 !important;
            font-size: 58px;
            font-weight: bold;
            margin-bottom: 24px;
        }
        h2 {
            font-weight: 300;
            font-size: 32px;
        }
    }

    &.spare {
        header .flag-image img {
            margin-top: 53px;
            margin-bottom: 113px;
        }
    }

    .container {
        padding-top: 60px;

        .row {
            position: relative;
            margin-bottom: 60px;

            &.no-gutter {
                margin-bottom: 0;
            }
        }
    }

    h1 {
        font-weight: 300;
        font-size: 42px;
        line-height: 58px;
        margin-bottom: 12px;
    }

    h2 {
        font-size: 24px;
        line-height: 33px;
        margin-bottom: 12px;
    }

    h3 {
        font-weight: 600;
        margin-bottom: 12px;
    }

    h4 {
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 24px;
    }    

    p {
        margin-bottom: 24px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    .pos-absolute {
        z-index: 50;
        position: absolute;
    }

    img[alt='icon'] {
        width: 70px;
        margin-bottom: 8px;
    }

    .shift {
        &-left {
            margin-left: -70px;
            &.half {
                margin-left: -35px;
            }
        }
        &-right {
            margin-left: 70px;
            &.half {
                margin-left: 35px;
            }
        }
    }

    .image {
        position: relative;
        &.image-full {
            margin-left: -25px;
            width: 960px;
        }
        img {
            display: block;
            margin: auto;
            max-width: 100%;
        }
        .caption {
            line-height: 22px;
            margin-top: 10px;
            text-align: left;
            width: 70%;
        }
        &.caption-centered .caption {
            width: 100%;
            text-align: center !important;
        }
        &.caption-full-width .caption {
            width: 100%;
        }
        &.caption-top {
            display:table;
            img {
                display:table-footer-group;
            }
            .caption {
                display:table-header-group;
                margin-top: 0;
                line-height: 2;
            }
        }
        &.caption-overlay-top {
            .caption {
                top: -20px;
                position: absolute;
            }
        }
    }

    .text-block {
        font-size: 16px;
        line-height: 22px;

        &.indent-text {
            padding-left:50px;
        }

        &.text-center {
            text-align: center;
        }
    }
}