html {
    -webkit-font-smoothing: antialiased !important;
}

body {
    @extend .avenir;
    line-height: 1.5;
    font-size: 16px;
    color: $color-grey;
}

div.pagination {
    z-index: 0;
    position: fixed;
    height: 100%;
    width: 50%;
    top: 0;

    @include gridle_state(mobile) {
        display: none;
    }

    &-left {
        left: 0;
        float: left;

        a {
            float: left;
        }
    }

    &-right {
        right: 0;
        float: right;

        a {
            float: right;
            @include prefixed(transform, rotate(180deg));
        }
    }

    &:hover {
        .icon {
            background-color: #F8F8F8;
        }
    }

    a {
        display: inline-block;
        padding: 50px;
        position: relative;
        top: 50%;
        margin-top: -75px;

    }

    .icon {
        background-repeat: no-repeat;
        background-position: 17px 14px;
        background-image: url("/assets/caret.png");
        height: 50px;
        width: 50px;
        border-radius: 25px;

        &:hover {
            background-color: #EEE;
        }
    }
}

main {
    z-index: 1;
    background: #FFF;
    min-height: 100vh;
    max-width: 910px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;

    @include gridle_state(mobile) {
        padding: 0 20px;
    }
}

header {
    padding-bottom: 60px;
    margin: 0 auto;
    margin-top: 120px;
    text-align: center;
    &:after {
        content: " ";
        width: 150px;
        height: 1px;
        background: #BCBCBC;
        margin: 0 auto;
        display: block;
        top: 60px;
        position: relative;

        @include gridle_state(mobile) {
            width: 100%;
        }
    }
    .flag-image {
        margin: 20px 0;
    }
    h1 {
        font-weight: 600 !important;
        font-size: 58px;
        font-weight: bold;
        margin-bottom: 24px;
        .page-index-html & {
            font-size: 32px;
        }
    }
    h2 {
        font-weight: 300;
        font-size: 32px;
        .page-index-html & {
            font-weight: normal;
            margin: auto;
            width: 50%;
            font-size: 16px;
            
            @include gridle_state(mobile) {
                width: 100%;
            }
        }
    }
}

footer {
    ul {
        position: relative;
        top: -36px;
        float: right;
        padding-right: 32px;
        &:after {
            content: " ";
            clear: both;
            display: block;
        }
        li {
            margin-left: 30px;
            display: inline-block;
        }
    }
}

nav.project-switcher {
    @include gridle_state(mobile) {
        padding: 0 20px;
    }
    section.smart-grid {
        width: 100%;
        max-width: 910px;
        margin: 0 auto;
        margin-top: 150px;
        margin-bottom: 300px;
        @include gridle_state(mobile) {
            width: 100%;
            margin-top: 0;
            margin-bottom: 0;
            padding: 0;
        }
        &:before {
            content: " ";
            width: 150px;
            height: 1px;
            background: #BCBCBC;
            margin: 0 auto;
            display: block;
            position: relative;
            margin-bottom: 150px;
            @include gridle_state(mobile) {
                width: 100%;
                margin-bottom: 60px;
            }
        }
    }
}

nav.top-nav {
    // background: linear-gradient(0,
    //             rgba(255,255,255,0),
    //             rgba(255,255,255,1)
    //         );
    background: #FFF;
    border-bottom: 1px #999 solid;
    // min-width: 100vw;
    width: 100%;
    max-width: 910px;
    position: fixed;
    overflow: show;
    z-index: 1000;
    padding-top: 20px;
    padding-bottom: 20px;
    button {
        margin: 0 20px;
        display: block;
        opacity: 0.7;
        font-size: 12px;
        border: 1px $color-grey solid;
        border-radius: 3px;
        background: #FFF;
        a {
            display: block;
            padding: 5px;
            color: $color-grey;
        }
        &.left {
            float: left;
        }
        &.right {
            float: right;
        }
        &:hover {
            opacity: 1;
        }
        @include hang();
    }
    &:after {
        content: " ";
        clear: both;
        display: block;
    }

    @include gridle_state(mobile) {
        margin: 0 -20px;
        width: 100%;
    }
}

a {
    text-decoration: none;
    color: $color-blue;
    &:hover {
        color: #4f7eca;
    }
}

section.smart-grid {
    padding-top: 60px;

    .row {
        position: relative;
        margin-bottom: 60px;

        &.no-gutter {
            margin-bottom: 0;
        }

        &.seperators {
            padding: 60px 0;
            border-top: 1px solid #D8D8D8;
            border-bottom: 1px solid #D8D8D8;
        }

        &.button-grid {
            padding-left: 15px !important;
            padding-right: 15px !important;
        }

        @include gridle_state(mobile) {
            margin-bottom: 0;
        }
    }

    h1 {
        font-weight: 300;
        font-size: 42px;
        margin-bottom: 12px;
    }

    h2 {
        font-size: 24px;
        margin-bottom: 12px;
    }

    h3 {
        margin-bottom: 24px;
        font-weight: 600;
        margin-bottom: 12px;
    }

    h4 {
        font-size: 22px;
        margin-bottom: 24px;
    }    

    p {
        margin-bottom: 24px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    .pos-absolute {
        z-index: 50;
        position: absolute;
        @include gridle_state(mobile) {
            position: static;
        }
    }

    .padding {
        &-left {
            padding-left: 30px;
        }
        &-right {
            padding-right: 30px;
        }
    }

    img[alt='icon'] {
        width: 70px;
        margin-bottom: 8px;
    }

    .shift {
        &-left {
            margin-left: -70px;
            &.half {
                margin-left: -35px;
            }
        }
        &-right {
            margin-left: 70px;
            &.half {
                margin-left: 35px;
            }
        }
    }

    .media {
        position: relative;
        &.full-width {
            margin-left: -25px;
            width: 960px;
            @include gridle_state(mobile) {
                margin-left: 0;
                width: 100%;
            }
        }
        .caption {
            margin-top: 10px;
            text-align: left;
            width: 70%;
        }
        &.caption-centered .caption {
            width: 100%;
            text-align: center !important;
        }
        &.caption-full-width .caption {
            width: 100%;
        }
        &.caption-top {
            display:table;
            img {
                display:table-footer-group;
            }
            .caption {
                display:table-header-group;
                margin-top: 0;
                line-height: 2;
            }
        }
        &.caption-overlay-top {
            .caption {
                top: -20px;
                position: absolute;
            }
        }
    }

    .image {
        @extend .media;
        img {
            display: block;
            margin: auto;
            max-width: 100%;
        }
    }

    .video {
        @extend .media;
        .youtube-player {
            width: 100%;
        }
    }

    .text-block {
        &.indent-text {
            padding-left:50px;
        }

        &.text-center {
            text-align: center;
        }
    }

    .project-button {
        // override grid
        padding-left: 10px;
        padding-right: 10px;
        @include gridle_state(mobile) {
            padding-left: 0;
            padding-right: 0;
            margin-bottom: 20px;
        }
        a.fill {
            background: #000;
            overflow: hidden;
            position: relative;
            display: block;
            width: 100%;

            border-radius: 3px;
            height: 130px;
            margin-bottom: 20px;

            div.text {
                z-index: 100;
                position: absolute;
                top: 50%;
                width: 100%;
                margin-top: -13px;

                font-family: HelveticaNeue-Medium;
                text-align: center;
                color: #FFF;
                letter-spacing: 0.7px;

                font-weight: bold;
                text-transform: uppercase;

                @include prefixed(transition-property, transform);
                @include prefixed(transition-duration, $slowDuration);
                @include hacks();

                h2 {
                    font-size: 16px;
                    margin-bottom: 2px;
                }

                h3 {
                    @include prefixed(transition-property, visibility);
                    @include prefixed(transition-duration, $fastDuration);
                    @include hacks();

                    visibility: hidden;
                    font-size: 12px;
                }
            }

            img {
                @include hacks();
                @include prefixed(transition-duration, $slowDuration);
                @include prefixed(transition-property, transform);
            }

            &:hover {
                img {
                    @include prefixed(transform, scale(1.1));
                    opacity: 0.7;
                }
                div.text {
                    margin-top: -24px;
                    h2 {

                    }
                    h3 {
                        visibility: visible;
                    }
                }
            }
        }
    }
}

// |------------------------------------------------------
// |------------------------------------------------------
// | reset grid for mobile
// |------------------------------------------------------
// |------------------------------------------------------

[class*="grid-"] {
    @include gridle_state(mobile) {
        width:100%;
        margin-bottom: 60px;
    }
}