---
layout: default
---
{% include top-grid.html %}
{% if page.type != 'home' %}
<div class="hook" id="hook"></div>
{% endif %}
<section class="{{page.url | slugify | prepend: 'page-' }}">
    <header class="animated bounceInDown">
        <div class="flag-image">
            {% if page.flag_image %}
            <img src="/assets/projects/{{page.title | slugify}}/{{page.flag_image}}" alt="project-logo" />
            {% endif %}
        </div>
        <h1>{{ page.title }}</h1>
        <h2>{{ page.subtitle }}</h2>
    </header>
    {% include smart-grid.html %}
    {{ content }}
</section>